{% extends 'main_app/base.html'%}


{% block title %} boot Camps Categories pages {% endblock %}

{% block content %}
<div class="intro text-center"></div>
<h3 class="diisplay-4">BootCamps Categories</h3>
<div class="card" style="width: 18rem;">
   <img src=" {% static 'media/images/frontendCategories.webp' %}"><class="card-img-top" alt="front end picture">
    <div class="card-body">
      <h5 class="card-title">front-end</h5>
      <p class="card-text">front-end Development</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="{% static 'media/images/backendCategoriesPic.webp' %}"><class="card-img-top" alt="back end picture">
    <div class="card-body">
      <h5 class="card-title">back-end</h5>
      <p class="card-text">back-end Development</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="{% static 'media/images/fullstackCategories.jpg' %}"><class="card-img-top" alt="full-stack picture">
    <div class="card-body">
      <h5 class="card-title">full-stack</h5>
      <p class="card-text">full-stack Development</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="{% static 'media/images/iartificialIntelligenceCategories.jpg' %}"><class="card-img-top" alt="artificial intelligence">
    <div class="card-body">
      <h5 class="card-title">artificial intelligence</h5>
      <p class="card-text">artificial intelligence</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="{% static 'media/images/CyberSecurityCategories.jpg' %}"><class="card-img-top" alt="cyber security">
    <div class="card-body">
      <h5 class="card-title">cyber security</h5>
      <p class="card-text">cyber security</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
 
  <div class="card" style="width: 18rem;">
    <img src="{% static 'media/images/uiUxCategories.jpg'%}" class="card-img-top" alt="UI/UX">
    <div class="card-body">
      <h5 class="card-title">UI/UX</h5>
      <p class="card-text">UI/UX</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>




{% endblock %}