{% extends 'main_app/base.html' %}
{% load static %}
{% block title %}

{% endblock %}

{% block content %}
<section id="forms_">
    <div class="container">
    <div class="row">
    <div class="col-12" data-aos="fade-up">
    <div class="intro text-center">
    <div class="hr-line"></div>
    <h1 class="diisplay-4">log in</h1>
    <p style="font-size: 10pt;" class="mx-auto">please fill in the required fields.</p>
    </div>
    </div>
    </div>
    <div class="row mt-4">
    <div class="col-lg-8 mx-auto">
    {% if msg %}
    <div class="alert alert-danger" role="alert">
    {{msg}}
    </div>
    {% endif %}
    <form action="{% url 'accounts:login_page' %}" method="post" class="row gy-3">
    {% csrf_token %}
    
    <div class="col-lg-12">
    <!--INPUT--> <input name="Email" type="email" id="floatingInput" class="form-control" placeholder="Email">
    </div>
   
    <div class="col-lg-12">
    <!--INPUT--> <input type="Password" class="form-control" id="floatingPassword" placeholder="Password" name="Password">
    </div>
    <div class="col-lg-12 d-flex justify-content-center">
    <!--button--> <button class="btn btn-dark">log in</button>
    
    </div>
   
    </form>
    </div>
    </div>
    
    </div>
    </section>
{% endblock %}