{% extends 'main_app/base.html' %}
{% load static %}

{% block title %} Profile {% endblock %}

{% block content %}

<div class="intro text-center">
    <div class="hr-line"></div>
    <h1 class="diisplay-4">{{ profile.user.first_name }} {{ profile.user.last_name }} Profile</h1>
</div>

<br>

<div class="containar" style="padding-left: 5%;">
    <div class="row align-items-center">
        <div class="col-md-auto">
            <img src="{{ profile.avatar.url }}" alt="mdo" width="100" height="100" class="rounded-circle">
        </div>
        <div class="col">
            <h5 class="card-title">{{ profile.user.username }}</h5>
            <p class="card-text">{{ profile.user.email }}</p>
            <h9 class="card-text">{{ profile.about_user }}</h9><br>
        </div>
        <div class="col col-lg-2">
            <h5 class="card-title"><a href="{{ profile.github_link }}">Github</a><h5>
            <h5 class="card-title"><a href="{{ profile.linkedin_link }}">Linkedin</a><h5>
            <h5 class="card-title"><a href="{{ profile.twitter_link }}">Twitter</a><h5>
        </div>
    </div>
</div>

<br><br><br>

<h1 class="diisplay-4" style="font-size: 30px; padding-left: 5%;">Your Bootcamp</h1>
<div class="card mb-3 mx-auto" style="width: 72rem;">
    <div class="row">
        <div class="col">
            <img style="width: 15rem; border-radius: 0%;" class="card-img-top" src="/media/images/bootstrap.png"
                alt="Card image cap">
        </div>
        <div class="col-9">
            <div class="card-body">
                <br>
                <h5 class="card-title">{{ profile.bootcamp.name }}</h5>
                <p class="card-text">{{ profile.bootcamp.bootcamp_descripton }}</p>
                <a href="#" class="link-primary">see more</a>
                <!-- if user is authrized -->
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <button type="button" class="btn btn-primary">Edit</button>
                    <button type="button" class="btn btn-outline-secondary">Delete</button>
                </div>
                <!-- end if -->
            </div>
        </div>
    </div>
</div>

<br>

<h1 class="diisplay-4" style="font-size: 30px; padding-left: 5%;">Your Projects</h1>
<div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="card-wrapper container-sm d-flex  justify-content-around">
                <div class="card  " style="width: 18rem;">
                    <img src="/media/images/bootstrap.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h7 class="card-title">Date</h7>
                        <h5 class="card-title">Card title</h5>
                        <h7 class="card-title">Card descripton Card descripton Card descripton Card descripton</h7>
                        <a href="{% url 'main_app:project_details' %}" class="link-primary">read more</a>
                        <a href="{% url 'main_app:project_details' %}" class="link-primary">read more</a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="/media/images/bootstrap.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h7 class="card-title">Date</h7>
                        <h5 class="card-title">Card title</h5>
                        <h7 class="card-title">Card descripton Card descripton Card descripton Card descripton</h7>
                        <a href="#" class="link-primary">read more</a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="/media/images/bootstrap.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h7 class="card-title">Date</h7>
                        <h5 class="card-title">Card title</h5>
                        <h7 class="card-title">Card descripton Card descripton Card descripton Card descripton</h7>
                        <a href="#" class="link-primary">read more</a>

                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card-wrapper container-sm d-flex   justify-content-around">
                <div class="card  " style="width: 18rem;">
                    <img src="/media/images/bootstrap.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h7 class="card-title">Date</h7>
                        <h5 class="card-title">Card title</h5>
                        <h7 class="card-title">Card descripton Card descripton Card descripton Card descripton</h7>
                        <a href="#" class="link-primary">read more</a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="/media/images/bootstrap.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h7 class="card-title">Date</h7>
                        <h5 class="card-title">Card title</h5>
                        <h7 class="card-title">Card descripton Card descripton Card descripton Card descripton</h7>
                        <a href="#" class="link-primary">read more</a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="/media/images/bootstrap.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h7 class="card-title">Date</h7>
                        <h5 class="card-title">Card title</h5>
                        <h7 class="card-title">Card descripton Card descripton Card descripton Card descripton</h7>
                        <a href="#" class="link-primary">read more</a>
                    </div>
                </div>
            </div>
        </div>


        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>

    {% endblock %}



    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <img class="card-img-top"
                data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                alt="Thumbnail [100%x225]"
                src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22508%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20508%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_188c3aeef8c%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A25pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_188c3aeef8c%22%3E%3Crect%20width%3D%22508%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22169.75390625%22%20y%3D%22123.6%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
            <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                </div>
            </div>
        </div>
    </div>