{% extends 'main_app/base.html' %}
{% load static %}

{% block title %} Profile {% endblock %}

{% block header%}
<style>
    .cards-wrapper {
        display: flex;
        justify-content: center;
    }

    .card img {
        max-width: 100%;
        max-height: 100%;
    }

    .card {
        margin: 0 0.5em;
        box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
        border: none;
        border-radius: 0;
    }

    .carousel-inner {
        padding: 1em;
    }

    .carousel-control-prev,
    .carousel-control-next {
        background-color: #e1e1e1;
        width: 5vh;
        height: 5vh;
        border-radius: 50%;
        top: 50%;
        transform: translateY(-50%);
    }
</style>
{% endblock %}

{% block content %}

<div class="intro text-center">
    <div class="hr-line"></div>
    <h1 class="diisplay-4">{{ profile.user.first_name }} {{ profile.user.last_name }} Profile</h1>
</div>

<br>

<div class="containar" style="padding-left: 5%;">
    <div class="row align-items-center">
        <div class="col-md-auto">
            <img src="{{ profile.avatar.url }}" alt="mdo" width="100" height="100" class="rounded-circle">
        </div>
        <div class="col">
            <h5 class="card-title">{{ profile.user.username }}</h5>
            <p class="card-text">{{ profile.user.email }}</p>
            <h9 class="card-text">{{ profile.about_user }}</h9><br>
        </div>
        <div class="col col-lg-2">
            <h5 class="card-title"><a href="{{ profile.github_link }}">Github</a>
                <h5>
                    <h5 class="card-title"><a href="{{ profile.linkedin_link }}">Linkedin</a>
                        <h5>
                            <h5 class="card-title"><a href="{{ profile.twitter_link }}">Twitter</a>
                                <h5>
        </div>
    </div>
</div>

<br><br><br>

<h1 class="diisplay-4" style="font-size: 30px; padding-left: 5%;">Your Bootcamp</h1>
<div class="card mb-3 mx-auto" style="width: 72rem; background-color: white;">
    <div class="row">
        <div class="col-md-auto">
            <img style="width: 15rem; height: 15rem; border-radius: 0%;" class="card-img-top"
                src="{{ profile.bootcamp.logo.url }}" alt="Card image cap">
        </div>
        <div class="col">
            <div class="card-body">
                <br>
                <div class="row">
                    <div class="col">
                        <h5 class="card-title">{{ profile.bootcamp.name }}</h5>
                    </div>
                    <div class="col-md-auto">
                        <p style="color:#0cdce9;" class="card-text">Starts: {{ profile.bootcamp.start_date }}</p>
                    </div>
                    <div class="col-md-auto" style="padding-right: 10%;">
                        <p style="color:#0cdce9" class="card-text">Ends: {{ profile.bootcamp.end_date }}</p>
                    </div>
                </div>
                <p class="card-text">{{ profile.bootcamp.bootcamp_descripton }}     <a
                        href="{% url 'main_app:bootcamp_page' profile.bootcamp.id %}" class="link-primary">see more</a>
                </p>
                <p class="card-title" style="color: #0cdce9">{{ profile.bootcamp.category }}</p>
               {% if request.user.username == profile.user.username %} 
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <button type="button" class="btn btn-primary"><a
                            href="{% url 'main_app:update_bootcamp' profile.bootcamp.id %}">Update</a></button>
                    <button type="button" class="btn btn-outline-secondary"><a
                            href="{% url 'main_app:delete_bootcamp' profile.bootcamp.id %}">Delete</a></button>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<br>

<h1 class="diisplay-4" style="font-size: 30px; padding-left: 5%;">Your Projects</h1>

<div class="container">
    
    {% if projects %}
    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel" data-bs-interval="4000"
        data-bs-pause="hover">
        <div class="carousel-inner">
            {% for project in projects %}
            {% with counter=forloop.counter0|add:"0" %}
            {% if forloop.first or counter|divisibleby:4 %}
            <div class="carousel-item {% if forloop.first %} active {% endif %}">
                <div class="row">
                    {% endif %}
                    <div class="col-md-3 cards-wrapper">
                        <div class="card">
                            <!-- project image -->
                            {% if project.project_logo %}
                            <img src="{{ project.project_logo.url }}" class="card-img-top"
                                alt="{{ project.project_title }}">
                            {% endif %}
                            <!-- project contents -->
                            <div class="card-body">
                                <p>{{ project.project_date }}</p>
                                <h5 class="card-title">{{ project.project_title }}</h5>
                                <p>{{ project.type_project }}</p>
                                <a href="{% url 'accounts:project_details' project.id %}" class="stretched-link"
                                    style="float: right;"></a>
                            </div>
                        </div>
                    </div>
                    {% if counter|add:"1"|divisibleby:4 or forloop.last %}
                </div>
            </div>
            {% endif %}
            {% endwith %}
            {% endfor %}
        
            <!-- Previous and Next buttons -->
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>

        </div>
    </div>

    {% else %}
            <p class="message_">There are no projects yet</p>
    {% endif %}
    <a href="{% url 'main_app:bootcamps' %}" class="btn btn-primary" style="margin-top: 50px; margin-left: 50px; background-color: #c76bf8; border-color: #c76bf8; width: max-content;">Back to Explore</a>
</div>

{% endblock %}