{% extends 'main_app/base.html' %}
{% load static %}

{% block title %} Profile {% endblock %}

{% block content %}

<div class="intro text-center">
    <div class="hr-line"></div>
    <h1 class="diisplay-4">{{ profile.user.first_name }} {{ profile.user.last_name }} Profile</h1>
</div>

<br>

<div class="containar" style="padding-left: 5%;">
    <div class="row align-items-center">
        <div class="col-md-auto">
            <img src="{{ profile.avatar.url }}" alt="mdo" width="100" height="100" class="rounded-circle">
        </div>
        <div class="col">
            <h5 class="card-title">{{ profile.user.username }}</h5>
            <p class="card-text">{{ profile.user.email }}</p>
            <h9 class="card-text">{{ profile.about_user }}</h9><br>
        </div>
        <div class="col col-lg-2">
            <h5 class="card-title"><a href="{{ profile.github_link }}">Github</a>
                <h5>
                    <h5 class="card-title"><a href="{{ profile.linkedin_link }}">Linkedin</a>
                        <h5>
                            <h5 class="card-title"><a href="{{ profile.twitter_link }}">Twitter</a>
                                <h5>
        </div>
    </div>
</div>

<br><br><br>

<h1 class="diisplay-4" style="font-size: 30px; padding-left: 5%;">Your Bootcamp</h1>
<div class="card mb-3 mx-auto" style="width: 72rem;">
    <div class="row">
        <div class="col">
            <img style="width: 15rem; border-radius: 0%;" class="card-img-top" src="/media/images/bootstrap.png"
                alt="Card image cap">
        </div>
        <div class="col-9">
            <div class="card-body">
                <br>
                <h5 class="card-title">{{ profile.bootcamp.name }}</h5>
                <p class="card-text">{{ profile.bootcamp.bootcamp_descripton }}</p>
                <a href="#" class="link-primary">see more</a>
                <!-- if user is authrized -->
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <button type="button" class="btn btn-primary">Edit</button>
                    <button type="button" class="btn btn-outline-secondary">Delete</button>
                </div>
                <!-- end if -->
            </div>
        </div>
    </div>
</div>

<br>

<h1 class="diisplay-4" style="font-size: 30px; padding-left: 5%;">Your Projects</h1>

{% endblock %}
