{% extends 'main_app/base.html' %}
{% load static %}

{% block title %} Updae profile {% endblock %}

{% block content %}

<div class="intro text-center">
    <div class="hr-line"></div>
    <h1 class="diisplay-4">Update {{ profile.user.username }} profile</h1>
    <p style="font-size: 10pt;" class="mx-auto">please fill in the required fields.</p>
</div>

<br>

<div class="row mt-4">
    <div class="col-lg-8 mx-auto">
        {% if msg %}
        <div class="alert alert-success" role="alert">
            {{msg}}
        </div>
        {% endif %}

        <form action="{% url 'accounts:update_profile' profile.user.id %}" method="POST" class="form"
            enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-lg-12">
                <small class="form-text text-muted">Update about</small>
                <textarea name="about_user" type="text" value="" id="floatingInput"
                    class="form-control" placeholder="update About">{{ profile.about_user }}</textarea>
            </div>
            <br>
            <div class="col-lg-12">
                <small class="form-text text-muted">Update <a style="text-decoration: underline;margin-left: 10px;" href="{{ profile.twitter_link.url }}"> Twitter link</a></small>
                <input name="twitter_link" type="url"  id="floatingInput"
                    class="form-control" placeholder="Twitter link">
            </div>
            <br>
            <div class="col-lg-12">
                <small class="form-text text-muted">Update <a style="text-decoration: underline;margin-left: 10px;" href="{{ profile.github_link.url }}"> Github link</a></small>
                <input name="github_link" type="url"  id="floatingInput"
                    class="form-control" placeholder="Github link">
            </div>
            <br>
            <div class="col-lg-12">
                <small class="form-text text-muted">Update <a style="text-decoration: underline;margin-left: 10px;" href="{{ profile.linkedin_link.url }}"> Linkedin link</a></small>
                <input name="linkedin_link" type="url"  id="floatingInput"
                    class="form-control" placeholder="Linkedin link">
            </div>
            <br>
            <div>
                <small class="form-text text-muted">Update avatar<img src="{{profile.avatar.url}}" class="w-25 rounded-5"/></small>
                <input type="file" accept="image/png, image/jpg" class="form-control" id="floatingAvatar"
                    placeholder="avatar" name="avatar">
            </div>
            <br>
            <div class="col-lg-12 d-flex justify-content-center">
                <button type="submit" class="btn btn-dark">Update</button>
            </div>
        </form>

    </div>
</div>

{% endblock %}