{% extends 'main_app/base.html' %}
{% load static %}
{% block title %}
Waiting list
{% endblock %}

{% block content %}
<section id="forms_">
        <div class="container">
            {% if messages %}
                    <div class="messages">
                        {% for message in messages %}
                        <div class="{{ message.tags }}">{{ message }}</div>
                        {% endfor %}
                    </div>
            {% endif %}
            <div class="row m-5">
                <div class="col-12" data-aos="fade-up">
                    <div class="intro text-center">
                        <div class="hr-line"></div>
                        <h2 class="display-4 mb-4">Waiting list</h2>
                        <p> Your request received, please wait for activation...</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}