
{% extends 'main_app/base.html' %}
{% load static %}
{% block title %}Event Details{% endblock %}

{% block header%}
<style>
 /*Clinic details style*/
.event_details{
    width: 100%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;


}
.row h1, h5{
    margin-left: 50px;
}
.details_left{
    flex-basis: 50%;
    padding: 30px 2px;

}
.details_left p{
    text-align: justify;
    text-justify: inter-word;
}
.details_right{
    flex-basis: 38%;
    padding: 30px 2px;
}
.details_left img{
    width: 100%;
    margin-bottom: 20px;
}

</style>
{% endblock %}


{% block content %}
<div class="container">
    <section class="event_details">
        <div class="row" style="column-gap: 60px; justify-content: center;">
            <h1 style="font-weight: 700; margin-top: 50px;">{{ event.event_title }}<span style="color:#c76bf8">+</span></h1>
            <h5>Hosted By:</h5>
            <h5><strong>{{event.user.username}}</strong></h5>
            <div class="details_left">
                {% if event.event_image %}
                    <img src="{{ event.event_image.url }}" alt="{{ event.event_title }}" class="img-fluid">
                {% endif %}
                <hr>
                <h4>Details</h4>
                <p>{{ event.event_descripton }}</p>
            </div>
            <div class="details_right">
                <div class="card mb-3" style="max-width: 340px;">
                    <div class="row" style="justify-content: space-around; align-items: center;">
                        {% if event.event_image %}
                            <img src="{{ event.event_image.url }}" style="margin-left:20px; width:80px; height: 60px; border-radius: 10px; justify-content: center;" alt="...">
                        {% endif %}
                      <div class="col">
                        <div class="card-body">
                          <strong class="card-title">{{event.bootcamp.name}}</strong>
                          <p class="card-text">{{event.bootcamp.category}}</p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="card mb-3" style="max-width: 340px;">
                    <div class="row" style="justify-content: space-around; align-items: center;">
                      
                            <div class="card-body" style="margin-left: 20px;">
                            <p class="card-title" style="font-size: 15px;">Date: {{ event.event_datetime }}</p>
                            <p class="card-text"style="font-size: 14px;">Location: <a href="{{ event.event_location }}">{{ event.event_location }}</a></p>
                            </div>
                      
                    </div>
                  </div>
            </div>
            <div class="d-flex gap-2 bottom-0 end-0" style="margin-left: 80px;">
                {% if request.user.is_staff or event.user.username %}
                    <a href="#" class="btn btn-warning">Update Event</a>
                    <a href="{% url 'main_app:delete_event' event.id %}" class="btn btn-danger">Delete Event</a>
                {% endif %}
            </div>
        </div>
    </section>
    {% if attendees %}
        <h3>Attendees:</h3>
        <ul>
        {% for attendee in attendees %}
            <li>{{ attendee.user.username }} - {{ attendee.event.bootcamp }} - {{ attendee.timestamp }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    <a href="{% url 'main_app:bootcamp_event' event.bootcamp.id %}" class="btn btn-primary" style="margin-top: 50px; background-color: #c76bf8; border-color: #c76bf8;">Back to Events</a>
</div>
<footer class="footer mt-auto py-3 bg-body-tertiary" style="position: fixed; bottom: 0; width: 100%;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <p class="text-body-secondary">{{ event.event_datetime }}</p>
                <span class="text-body-secondary"><strong>{{ event.event_title }}</strong></span>
            </div>
            <div class="col">
                {% if request.user.is_authenticated %}
                    <form method="post" action="{% url 'main_app:event_details' event.id %}">
                        {% csrf_token %}
                        <button type="submit"name="attend_button" value="Attend" class="btn btn-primary" style="float: right; background-color: #c76bf8; border-color: #c76bf8;">Attend</button>
                    </form>
                {% else %}
                    <p style="float: right;">Please <a href="{% url 'accounts:login_page' %}" style="color: blue; text-decoration: underline;">login</a> to attend this event.</p>
                
                {% endif %}
                
            </div>
        </div>
    </div>
  </footer>
{% endblock %}
