<!--------- manager page / create bootcamp --------->

{% extends 'main_app/base.html' %}
{% load static %}

{% block title %} Update bootcamp {% endblock %}

{% block content %}

<section id="forms_">
    <div class="container">
        <div class="row">
            <div class="col-12" data-aos="fade-up">
                <div class="intro text-center">
                    <div class="hr-line"></div>
                    <h1 class="diisplay-4">Update Bootcamp</h1>
                    <p style="font-size: 10pt;" class="mx-auto">please fill in the required fields.</p>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-8 mx-auto">
                {% if msg %}
                <div class="alert alert-danger" role="alert">
                {{msg}}
                </div>
                {% endif %}
                <form action="#" method="post" class="row gy-3" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="col-lg-6">
                        <small class="form-text text-muted">Update Start date</small>
                        <!--INPUT--> <input value="{{ bootcamp.start_date|date:'Y-m-d' }}" type="date" class="form-control" id="floatingInput" placeholder="start_date"
                            name="start_date">
                    </div>
                    <div class="col-lg-6">
                        <small class="form-text text-muted">Update End date</small>
                        <input value="{{ bootcamp.end_date|date:'Y-m-d' }}" type="date" class="form-control" id="floatingInput" placeholder="end_date"
                            name="end_date">
                    </div>
                    <!---->
                    <div class="col-lg-12">
                        <small class="form-text text-muted">Update category</small>
                        <select class="form-select" aria-label="Default select example" name="category" required="" min-length="1">
                            <option value="{{ choice.1 }}">Select category</option>
                            {% for choice in category_choices %}
                            <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <!---->
                    <div class="col-lg-12">
                        <small class="form-text text-muted">Update Bootcamp name</small>
                        <input value="{{bootcamp.name}}" name="name" type="text" id="floatingInput" class="form-control"
                            placeholder="Bootcamp name">
                    </div>
                    <div class="col-lg-12">
                        <small class="form-text text-muted">Update descripton</small>
                        <input value="{{bootcamp.bootcamp_descripton}}" name="bootcamp_descripton" type="text" id="floatingInput" class="form-control"
                            placeholder="Bootcamp descripton">
                    </div>
                    <div class="col-lg-12">
                        <small class="form-text text-muted">Update bootcamp logo</small>
                        <img src="{{bootcamp.logo.url}}" class="w-25 rounded-5"/>
                        <input  type="file" class="form-control" id="floatingPassword" placeholder="Add the new image"
                            name="logo">
                    </div>
                    <div class="col-lg-12 d-flex justify-content-center">
                        <button type="submit" class="btn btn-dark">Update bootcamp</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</section>

{% endblock %}