{% extends 'main_app/base.html' %}
{% load static %}
{% block title %}
Welcome page
{% endblock %}
{% block header%}
<style>
.hero{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #233D54;
    overflow: hidden;
    box-shadow: 0 3px 5px rgba(35, 61, 84, 0.322) ;
    padding: 60px;
}
.hero__video{
    position: absolute;
    top: 55%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);  
    object-fit: contain; 
}
.hero__overlay{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--primary-color);
    opacity: 0.5;
    z-index: 1;
}
.hero__content{
    z-index: 1;
    padding: 5rem 4px;
    width: 65%;
    margin-left: 0;
}
.hero__content ._sign{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-top: 100px;

}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 0,
  'opsz' 48
}
</style>
{% endblock %}
{% block content %}
<section class="hero">
    <div class="hero__overlay">

    </div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" loading="lazy" class="hero__video">
        <source src="https://firebasestorage.googleapis.com/v0/b/hero-a01c9.appspot.com/o/hero.mp4?alt=media&token=5a09fb5b-0965-4f82-bdde-0f63d6f839e4" type="video/mp4">

    </video>
    <div class="hero__content h-100 container position-relative ">
        <div class="d-flex h-100 align-items-center">
            <div class="text-white" data-aos="fade-up" data-aos-delay="300">
                <h1 class="fw-bold mb-4">Welcome to Tuwaiq Community </h1>
                <p style="font-size: 14pt; width: 60%;padding-left: 30px;" class="lead mb-4"> We are dedicated to creating a collaborative and innovative environment that supports growth and learning for all. As a member, you will have access to a variety of resources, events, and activities to help you achieve your goals. We're excited to have you join us and look forward to getting to know you! </p>
                <p class="_sign">To join our community,  
                <a href="{%url 'accounts:sign_up'%}" class="mt-1 align-items-center btn btn-md btn-outline-light g-4" role="button">sign up</a>today or 
                <a href="{%url 'accounts:login_page'%}" class="mt-1 align-items-center btn btn-md btn-outline-light g-4" role="button">log in</a> to your account to get started!
                </p>
            </div>

        </div>
    </div>

    
    
</section>
{% endblock %}